body {
    width: 100%; 
    margin: 0;
    
}


.bc {
    display: flex;
    justify-content: center;
    background-image: url(/imgs/hero-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
}


div {
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
 
}

header .logow {
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 41px;
    margin-left: 120px;
}


span {
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:100px; 
    align-items: center;
}


header .menu {
    margin-right: 120px;
    display: flex;
    align-items: center;

}

header .menu li {
    font-size: 20px;
    opacity: 0.9;
    list-style: none;
    padding-left: 70px;
    
}

header .menu li:last-child {
    opacity: 1;
}


header .menu a {
    text-decoration: none;
    color: #fff;
}

header .menu li h1 {
    height: 52px;
    background-image: url(../imgs/oval.png);
    background-repeat: no-repeat;
    
}

/* sessao 1 */

section#init {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 530px;
 
}

section#init .chamada {
    width: 640px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 150px;
    padding-top: 20px;
    text-align: center;
   
}

section#init .chamada h1 {
    font-size: 44px;
    font-weight: 400;
    color: #f9f8fa;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}

section#init .chamada p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #f2f4f8;
    margin: 0; padding: 0;
    margin-bottom: 30px;
}

section#init .chamada button {
    
    background-color: #fd5c63;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    width: 265px;
    height: 65px;
    border-radius: 100px;
    border: none;
 
}

section#init .chamada button a {
     color: #fff;
    text-decoration: none;
   
}

section#fotos1 {
    display: flex;
}

.foto1 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-6.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
    
}

.foto2 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-4.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
   
}


.foto3 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-3.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
   
}


.foto4 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-2.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;

}


.foto5 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;

}

.foto6 {
    background-image: url(/imgs/rectangle-41.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
}


section#fotos2 {
    display: flex;
    opacity: 0.1;
}

.foto7 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-seis.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
    
}


.foto8 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-7.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
 
}


.foto9 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-8.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
   
}


.foto10 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-9.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
   
}


.foto11 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-10.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
   
}


.foto12 {
    margin-right: 5px;
    background-image: url(/imgs/rectangle-41-copy-11.png);
    background-repeat: no-repeat;
    height: 217px;
    width: 217px;
  
}

.foto1, .foto5 {
    margin-top: -80px;
}

.foto3, .foto6 {
    margin-top: -60px;
}

.foto2 {
    margin-top: -100px;
}

.foto4 {
    margin-top: -20px;
}

.foto7, .foto11 {
    margin-top: -70px;
}

.foto9, .foto12 {
    margin-top: -50px;
}

.foto8 {
    margin-top: -90px;
}

.foto10 {
    margin-top: -10px;
}


section#sec2 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

section#sec2 .area2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 200px;
    display: flex;
  
}

section#sec2 .area2 .sobre {
    display: block;
    text-align: left;
    margin-top: -80px; 
    margin-left: 100px;
    height: 130px;
    width: 600px;
 
   
}

section#sessao2 .area2, h2 {
    padding-left: 0;
    margin-left: 0;
    margin-top: -120px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4c4c51;
    font-size: 28px;
    font-weight: 400;
}

section#sessao2 .area2, p {   
    color: #88939e;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
 
 
}

section#sec2 .sobre, .vid {
    margin-right: 60px;
    margin-top: -360px;
    margin-left: 20px;
    height: 250px;
    width: 460px;
}

section#sec2 .area2 .vid h1 {
    background-image: url(../imgs/video.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 460px;
}


section#sessao3 {
    width: 100%;
    height: 120px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

section#sessao3 h1 {
   background-image: url(../imgs/stats.png);
   background-repeat: no-repeat;
   padding: 0; margin: 0;
   margin-top: -200px;
   width: 1125px;
   height: 86px;

}


section#sessao4 {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 520px;
 
  
}

section#sessao4 .card {
    border: none;
   
}

section#sessao4 .card .angela h1 {
    margin: 0;
    background-image: url(/imgs/autumn-goodman-242825.png);
    background-repeat: no-repeat;
    width: 794px;
    height: 386px;

    
}

section#sessao4 .card .tex {
    background-color: #fd6e74;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 794px;


}

section#sessao4 .card .tex h3 {
    width: 390px;
    margin-left: 110px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 400;

}

section#sessao4 .card .tex .plus {
    background-image: url(../imgs/plus.png);
    background-repeat: no-repeat;
    height: 98px;
    width: 98px;
    margin-top: -130px;
    margin-right: 60px;

}


.icons {
    margin-top: 65px;
    margin-right: 40px;
    margin-left: 70px;
    font-family: "Source Sans Pro";
   
 
}

.icons .icon1 {
    display: flex;
    flex-direction: row;
}

.icons .icon1 h1 {
    background-image: url(../imgs/icon1.png);
    background-repeat: no-repeat;
    height: 71px;
    width: 71px;
}


.icons .icon2 {
    display: flex;
    flex-direction: row;
}

.icons .icon2 h1 {
    background-image: url(../imgs/icon2.png);
    background-repeat: no-repeat;
    height: 71px;
    width: 71px;
}


.icons .icon3 {
    display: flex;
    flex-direction: row;
}

.icons .icon3 h1 {
    background-image: url(/imgs/icon3.png);
    background-repeat: no-repeat;
    height: 71px;
    width: 71px;
}


.icons small {
    margin-left: 40px;
}

.icons small h4 {
    margin-bottom: 5px;
    color: #fb5c68;
    font-size: 20px;
    font-weight: 700;

  
}

.icons small p {
    margin-top: 10px;
    width: 340px;
    font-size: 20px;
    font-weight: 400;
    color: #88939e;

  
}

section#sessao5 {
    height: 400px;
    width: 100%;
}

section#sessao5 .select {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
   
}

section#sessao5 .select h2 {
    margin-top: 120px;
    margin-bottom: 15px;
    font-size: 34px;
    color: #4c4c51;
    font-weight: 400;
 
}

section#sessao5 .select p {
    width: 730px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #88939e;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
 
}

section#sessao5 .select select {
    width: 470px;
    height: 60px;
    color: #88939e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-radius: 30px 30px 0 0;
    border-bottom: none;
    padding-left: 25px;
    border: 2px solid #dbdbdb;
   
  
}

section#sessao5 .select option {
    margin-right: 20px;
}

section#sessao5 .select button {
    background-color: #fd6e74;
    width: 470px;
    height: 60px;
    border: none;
    border-radius: 0 0 30px 30px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

sectuib#sessao6 {
    width: 100%;
    height: 420px;
    
}

section#sessao6 .card {
    background-color: #fff;
    height: 420px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  
}

section#sessao6 .card .idioma select {
    width: 340px;
    height: 60px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 3px;
    padding-left: 20px;
    color: #75808c;
    font-size: 20px;
    font-weight: 400;


   
}


section#sessao6 .card .colunas ul {
    margin-top: 50px;
    list-style: none;
   
}

section#sessao6 .card .colunas li:first-child {
    padding-bottom: 10px;
    color: #fb5c68;
    font-size: 20px;
    font-weight: 700;

  
}

section#sessao6 .card .colunas li {
    padding-bottom: 3px;
}

section#sessao6 .card .colunas a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #88939e;

}


footer {
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-top: 3px solid #e8e8e8;
}

footer h1 {
    background-image: url(../imgs/logo-rod.png);
    background-repeat: no-repeat;
    margin-top: 35px;
    width: 114px;
    height: 36px;

}


footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer ul li {
    color: #88939e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-right: 40px;

}

footer ul li:last-child {
    padding-right: 0;
}


@media only screen and (max-width: 400px) {
    
    html {
        width: 165%;
        margin-left: -65%;
        margin: 0; padding: 0;
    
       
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 300px;
       
    }
    
    .bc {
        width: 100%;
    }
    
    .bc .logow {
        margin-right: 175px;
    }
    
    .bc .menu {
        display: flex;
        flex-direction: column;
        margin-right: 155px;
    }
    
    .bc .menu li:last-child {
        margin-left: 23px;
        padding-left: 53px;
    }
    
    section#init {
        height: 550px;
    }
    
    section#init .chamada {
        height: 550px;
        margin-left: 50px;
        padding-right: 100px;
        margin-bottom: 200px;
     
    }
    
    section#init .chamada h1 {
        margin-left: 280px;
        font-size: 40px;
     
    }
    
    section#init .chamada p {
        margin-left: 280px;
        font-size: 20px;
      
    }
    
    
    section#init .chamada button {
        margin-left: 220px;
        padding: 0;
        margin-right: -60px;
  
    }
    
    section#fotos1, section#fotos2 {
        display: none;
    }
    
    section#sec2 {
        margin-top: 30px;
    }
    
  
    
    section#sec2 .area2 {
        margin-top: 400px;
        display: flex;
        flex-direction: column;
        
    }
    
    section#sec2 .area2 .sobre {
        width: 300px;
        margin-left: 295px;
        margin-bottom: 200px;
       
    }
    
    section#sec2 .area2 .sobre h2 {
        text-align: center;
    }
    
    section#sec2 .area2 .sobre p {
        text-align: center;
    }
    
    section#sec2 .area2 .vid {
        padding-top: 150px;
    }
    
    section#sec2 .area2 .vid h1 {
        height: 90px;
        width: 195px;
        margin-left: 140px;
        margin-right: -170px;
        padding: 0;
        
    }
    
    section#sessao3 h1 {
        display: none;
    }
    
    section#sessao4 {
        height: 850px;
        display: flex;
        flex-direction: column;
     
    }
    
    section#sessao4 .card .angela h1 {
        margin-bottom: 0;
        margin-left: 240px;
        background-size: 100%;
        width: 350px;
        
    }
    
    section#sessao4 .card .tex {
        height: 300px;
        width: 310px;
        margin-left: 240px;
        text-align: left;
        padding: 20px;
        margin-top: -159px;
    }
    
    section#sessao4 .card .tex h1 {
        background-size: 50%;
    }
    
    section#sessao4 .icons {
        margin: 0;
        margin-top: 20px;
        margin-left: 280px;
        width: 320px;
        height: 480px;
       
    }
    
    section#sessao4 .icons h1 {
        margin: 0;
        margin-top: 40px;
        margin-right: 0;
        background-size: 70%;
        padding: 0; 
        
    }
    
    section#sessao4 .icons h4 {
        font-size: 16px;
    }
    
    section#sessao4 .icons p {
        font-size: 16px;
        width: 200px;
    }
    
    section#sessao5 {
        width: 300px;
        height: 600px;
        margin-top: -100px;
        margin-left: 240px;
        margin-bottom: 50px;
        
    }
    
    section#sessao5 .select {
        display: block;
    }
    
    section#sessao5 .select h2 {
        text-align: center;
    }
    
    section#sessao5 .select p {
        text-align: center;
        margin-bottom: 100px;
        width: 300px;
    }
    
    section#sessao5 .select select {
        width: 300px;
    }
    
    section#sessao5 .select button {
        width: 300px;
    }
    
    section#sessao6 .card {
        display: flex;
        flex-direction: column;
        height: 1200px;
    

    }
    
    section#sessao6 .card .idioma select {
        width: 250px;
        margin-left: 260px;
    }
    
    section#sessao6 .card .colunas {
        margin-bottom: 30px;
        margin-left: 200px;
        width: 200px;
      
    }
    
    section#sessao6 .card .colunas li {
        text-align: center;
    }
    
    footer {
        display: none;
    }
    
    }
